<div>
    <p>Matches: {{matchedPairs.length}}</p>
    <span ng-repeat="pair in matchedPairs">
        {{pair[0].number}} of {{pair[0].suit}} and {{pair[1].number}} of {{pair[1].suit}}<br>
    </span>

</div>

<div>
    <span ng-repeat="card in board">
        <button class="btn btn-info" style="width:150px;height:150px" ng-click="pickCard($index)" ng-disabled="card.status == 'disabled'">
            <!--{{card.number}} of {{card.suit}}-->
            {{card.status == "disabled" ? card.number + " of " + card.suit : "?"}}
        </button>
    </span>
</div>
